[submodule "kernel"]
	path = kernel
	url = https://github.com/mehedihjoy0/android_kernel_samsung_m51
	branch = lineage-23.0
[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
